@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div id="app">
            <h1></h1>
            <div v-for="student in students">
                {{ student }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                students: []
            }
        },
        mounted() {
            axios
                .post('@Url.Content("~/api/Student")')
                .then(response => (this.students = response.data ))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        }
    })
</script>

